@charset "UTF-8";
/*
#CFFFDF
#9CFFBD
#68FC99
#029734
#15632F
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

:root{
    --cor0:#15632F;
    --cor1:#029734;
    --cor2:#68FC99;
    --cor3:#9CFFBD;
    --cor4:#CFFFDF;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor4);
    font-family: var(--font-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
    font-weight: normal;
}
header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav{
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.377);
}
nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor0);
}
main{
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
main h1{
    color: black;
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main h2{
    color: var(--cor0);
    font-family: var(--font-android);
    font-weight: normal;
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.4em;
}
main strong{
    font-weight: bold;
    color: var(--cor0);
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733);
    background-color: var(--cor2);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor0);
    margin-bottom: 5px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.452);
}
aside> h3{
    background-color: var(--cor0);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor4);
}